In [1]:
import pandas as pd
import random
import os
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [9]:
data = pd.read_csv('./train.csv')
not_x = ['PRODUCT_ID', 'Y_Class', 'TIMESTAMP', 'LINE', 'Y_Quality', 'PRODUCT_CODE']

data = data.drop(columns = not_x) # 'X_OO'인 열들만 남기기 -> NaN값 처리 위함.
print(data)
data = data.isnull().sum()
data = data.to_frame()
data.columns=['zero']
data['zero']
data = data[data['zero']<598]
data

      X_1   X_2  X_3   X_4   X_5  X_6   X_7   X_8   X_9  X_10  ...  X_2866  \
0     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   39.34
1     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   38.89
2     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   39.19
3     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   37.74
4     NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   38.70
..    ...   ...  ...   ...   ...  ...   ...   ...   ...   ...  ...     ...
593   2.0  95.0  0.0  45.0  10.0  0.0  50.0  10.0  52.0   2.0  ...     NaN
594   NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...   49.47
595   NaN   NaN  NaN   NaN   NaN  NaN   NaN   NaN   NaN   NaN  ...     NaN
596  40.0  94.0  0.0  45.0  11.0  0.0  45.0  10.0  31.0   2.0  ...     NaN
597  21.0  87.0  0.0  45.0  10.0  0.0  61.0  10.0  52.0   2.0  ...     NaN

     X_2867  X_2868  X_2869  X_2870  X_2871  X_2872  X_2873  X_2874  X_2875
0     40.89   32.56   34.09   77.77     NaN     NaN     NaN     NaN     NaN
1     42.82   43.92   35.34   72.55     NaN     NaN     NaN     NaN     NaN
2     36.65   42.47   36.53   78.35     NaN     NaN     NaN     NaN     NaN
3     39.17   52.17   30.58   71.78     NaN     NaN     NaN     NaN     NaN
4     41.89   46.93   33.09   76.97     NaN     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
593     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
594   53.07   50.89   55.10   66.49     1.0     NaN     NaN     NaN     NaN
595     NaN     NaN     NaN     NaN     1.0     NaN     NaN     NaN     NaN
596     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
597     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

[598 rows x 2875 columns]

        zero
X_1      249
X_2      249
X_3      249
X_4      249
X_5      249
...      ...
X_2867   498
X_2868   498
X_2869   498
X_2870   498
X_2871   499

[2793 rows x 1 columns]